body {
    margin: 10px;;
    align-items: center;
    background-color: rgba(210, 176, 214, 0.418);
}

#searchBox {
border: radius 0.5em; ;
}

.localweatherBox {
	width: 400px;
  	padding: 10px;
  	background: rgb(180, 229, 207);
  	border: 5px solid none;
  	margin: 100px;
    border-radius: 2vh;
}


